{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Блог</h1>

<h3 class="text-center mb-5">Всего  {{ projects.count }} 
   {% if projects.count >= 5 or projects.count == 0 %}
      постов
   {% else %}
      поста
   {% endif %}



</h3>
   {% if projects.count == 0 %}
      <h1 " class=" text-center">Пока пост пишется, в ближайшее время будет опубликован))</h1>
   {% endif %}
   {% for blog in projects %}
      <div class="row justify-content-center my-3">
      <div class="col-md-10">
         <a href="{% url 'blog:detail' blog.id %}">
            <h2>{{ blog.title }}</h2>
         </a>
         <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
         <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
      </div>
      </div>
   {% endfor %}

{% endblock %}